.title{
    color:rgb(250, 245, 245);
    /*font-size: large;*/
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 25px;
}
.txt {
    color:rgb(17, 17, 17);
    position: absolute;
  left: 0px;
  width: 600px;
  height: 800px;
  border: 10px solid green;
  font-size: 20px;
  background-color: lightgrey;
  }
.input {

   border: 10px solid green;
    position: absolute;
    right: 0;
    width: 600px;
    height: 100px;
    background-color: lightgrey;
    
  }

  .input1{
    border: 10px solid green;
    position: absolute;
    right: 0;
    top:200px;
    width: 600px;
    height: 500px;
    background-color: lightgrey;
  }

.a{
   background-color: rgb(54, 54, 54);
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.input3{
 
  font-size: large;
}


